{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <form action= "{% url 'wiki:new' %}" method= POST>
        {% csrf_token %}
        <p><label for= "edit">New Entry</label></p>
        <label>Title</label>
        <input type= "text" name= "title">
        <br>
        <label>Content</label>
        <br>
        <textarea id= "edit" name="content"></textarea>
        <br>
        <input type= "submit" value= "Save">
    </form>


{% endblock %}
