{% extends 'auctions/layout.html' %}

{% block body %}


        <h2>{{ listing.title }}</h2>

        <p>{{ listing.description }}</p>

        <label>{{ listing.price }}</label>

        <br>
        <br>
        <br>

    {% if user.is_authenticated %}
    <form action= "{% url 'wishlist' user.username %}" method = "post">
        {% csrf_token %}

        <input type="hidden" name= "listing_title" value= "{{ listing.id }}">
        <input type= "submit" value= "Add to Wishlist">
    </form>

    <br>

    <form action= "{% url 'listing' listing.id %}" method = "post">
        {% csrf_token %}

        <label for="add_bid">Add Bid</label>
        <br>
        <input type="text" name="bid">
        <br>
        <br>
        <input type="submit" value= "Add bid">
    </form>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
    <br>
    {% if user.username == listing.creator%}
        <form action= "{% url 'index' %}">
            <input type="submit" value="Close listing">
        </form>
    {% endif %}

    <form action= "{% url 'listing' listing.id %}" method = "post">
        {% csrf_token %}

        <label for="add_comment">Add comment</label>
        <br>
        <textarea id="add_comment" name="comment"></textarea>
        <br>
        <br>
        <input type="submit" value= "Add comment">
    </form>
    {% endif %}
    <br>

    <h2>Comments</h2>

    <ol>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
    </ol>

{% endblock %}
