{% extends 'auctions/layout.html' %}


{% block title %}
    New
{% endblock %}

{% block body %}

    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <p><label for= "edit">New Listing</label></p>
        <label>Title</label>
        <input type="text" name="name">
        <br>
        <label>Description</label>
        <br>
        <textarea id="edit" name="description"></textarea>
        <br>
        <input type="submit" value="Save">
    </form>

    {% endblock %}
