{% extends 'auctions/layout.html' %}


{% block title %}
    New
{% endblock %}

{% block body %}

    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <p><label for= "edit">New Listing</label></p>
        <label>Title</label>
        <input type="text" name="title">
        <br>
        <label>Description</label>
        <br>
        <textarea id="description" name="description"></textarea>
        <br>
        <label>Price</label>
        <input type="text" name="price">
        <br>
        <input type="hidden" name = "username" value="{{ user.username }}">
        <input type="submit" value="Save">
    </form>

    {% endblock %}
